@font-face {
  font-family: "Open Sans bold";
  src: url("../fonts/OpenSansBold.woff") format("woff"); }

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSansRegular.woff") format("woff"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  min-width: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

img {
  max-width: 100%;
  height: auto; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1172px;
  padding: 0 16px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      padding: 0 24px; } }
  @media (min-width: 1140px) {
    .container {
      padding: 0 16px; } }

.header {
  width: 100%;
  background: url("../img/header-bg.jpg") no-repeat center;
  padding: 30px 0; }
  .header .header__title {
    font-family: "Open Sans Regular", "Arial", sans-serif;
    font-size: 25px;
    line-height: 35px; }
    @media (min-width: 768px) {
      .header .header__title {
        font-size: 28px;
        line-height: 38px; } }
    @media (min-width: 1140px) {
      .header .header__title {
        font-size: 40px;
        line-height: 50px; } }
  .header .header__icons {
    display: none; }
    @media (min-width: 768px) {
      .header .header__icons {
        display: block;
        float: right;
        width: 213px; } }
    @media (min-width: 768px) {
      .header .header__icons {
        width: 266px; } }
  .header .header__slogan {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 25px;
    line-height: 35px; }
    @media (min-width: 768px) {
      .header .header__slogan {
        font-size: 28px;
        line-height: 38px; } }
    @media (min-width: 1140px) {
      .header .header__slogan {
        font-size: 40px;
        line-height: 50px; } }
  .header .header__features {
    margin: 0;
    padding: 0;
    padding-left: 16px; }
  .header .header__features-item {
    font-family: "Open Sans Regular", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px; }
    @media (min-width: 1140px) {
      .header .header__features-item {
        font-size: 20px;
        line-height: 30px; } }
  .header .header__download-text {
    font-family: "Open Sans Regular", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px; }
    @media (min-width: 1140px) {
      .header .header__download-text {
        font-size: 22px;
        line-height: 30px; } }
  .header .header__btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 768px) {
      .header .header__btn-block {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (min-width: 1140px) {
      .header .header__btn-block {
        width: 50%; } }

.btn .btn__download {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: #3581d5;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .btn .btn__download:hover {
    opacity: 0.8; }
  .btn .btn__download:active {
    opacity: 0.6; }
  .btn .btn__download--mac {
    background-color: #1962b2; }
  @media (min-width: 768px) {
    .btn .btn__download {
      width: 48%; } }

.btn .btn__download-logo {
  width: 40px;
  height: 40px; }
  .btn .btn__download-logo--win {
    background: url("../img/windows_logo.png") no-repeat center; }
  .btn .btn__download-logo--mac {
    background: url("../img/mac_logo_grey.png") no-repeat 9px 3px; }

@media (min-width: 1140px) {
  .btn .btn__download-mob {
    display: none; } }

.btn .btn__download-desk {
  display: none; }
  @media (min-width: 1140px) {
    .btn .btn__download-desk {
      display: block; } }

@media (min-width: 768px) {
  .make {
    padding-bottom: 40px; } }

.make .make__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 28px;
  line-height: 38px;
  text-align: center; }

.make .make__text {
  font-family: "Open Sans Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px; }

.make .make__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) {
    .make .make__btn-block {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (min-width: 1140px) {
    .make .make__btn-block {
      width: 50%;
      margin: 0 auto; } }

.step {
  counter-reset: steps__list-item; }
  .step .step__item-counter {
    position: relative;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 24px;
    line-height: 34px; }
    @media (min-width: 768px) {
      .step .step__item-counter {
        width: 100%;
        margin: 0; }
        .step .step__item-counter--first {
          padding-top: 0;
          padding-bottom: 0;
          margin-top: -1px;
          top: -12px; }
        .step .step__item-counter::after {
          position: absolute;
          content: "";
          width: 12px;
          height: 12px;
          background-color: #bdbdbd;
          border-radius: 50%;
          left: -27px;
          top: 11px; } }
    @media (min-width: 1140px) {
      .step .step__item-counter {
        font-size: 34px;
        line-height: 40px; } }
    .step .step__item-counter::before {
      counter-increment: steps__list-item;
      content: counters(steps__list-item, ".") ". ";
      display: inline;
      color: #f68263; }
  .step .step__item-text {
    font-family: "Open Sans Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #242927; }
    @media (min-width: 768px) {
      .step .step__item-text {
        width: 45%;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-bottom: 0; }
        .step .step__item-text--row {
          width: 100%;
          clear: both; } }
    @media (min-width: 1140px) {
      .step .step__item-text {
        font-size: 20px;
        line-height: 30px;
        width: 50%; }
        .step .step__item-text--row {
          width: 100%; } }
  @media (min-width: 768px) {
    .step .step__item {
      padding-left: 20px;
      border-left: 2px solid #bdbdbd;
      padding-bottom: 30px;
      padding-top: 20px; }
      .step .step__item--tabs {
        padding-bottom: 120px; }
      .step .step__item--first-tab {
        padding-top: 30px; }
      .step .step__item--first {
        padding-top: 0; }
      .step .step__item--last {
        position: relative; }
        .step .step__item--last::before {
          position: absolute;
          content: "";
          width: 12px;
          height: 12px;
          background-color: #bdbdbd;
          border-radius: 50%;
          left: -7px;
          bottom: 0; } }
  .step .step__item-img {
    height: 100%;
    display: block;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .step .step__item-img {
        width: 344px;
        float: right;
        margin-top: 20px;
        margin-bottom: 20px; } }
    @media (min-width: 1140px) {
      .step .step__item-img {
        width: 457px; } }
  .step .step__item-anchor {
    font-family: "Open Sans Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #3581d5;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px auto;
    max-width: 208px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    text-decoration: none;
    clear: both; }
    .step .step__item-anchor:hover {
      opacity: 0.8; }
    .step .step__item-anchor:active {
      opacity: 0.6; }
    .step .step__item-anchor::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      left: 0;
      top: 6px;
      background: url("../img/arrow.png") no-repeat; }

.tabs {
  background-color: #eeeeee;
  position: relative; }
  .tabs .tabs__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff;
    margin: 0 -16px; }
    @media (min-width: 768px) {
      .tabs .tabs__toggle {
        width: 580px;
        /* margin: 0; */
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -90px;
        border-radius: 5px;
        padding-bottom: 30px; } }
    @media (min-width: 1140px) {
      .tabs .tabs__toggle {
        width: 750px; } }
  .tabs .tabs__label {
    font-family: "Open Sans Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    padding: 20px;
    width: 49%;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0.5; }
    .tabs .tabs__label:hover {
      font-weight: bold; }
    @media (min-width: 768px) {
      .tabs .tabs__label {
        background-color: #fff;
        border-radius: 0;
        width: 50%;
        opacity: 1;
        border: 2px solid #1962b2;
        position: relative; } }
  .tabs .tabs__inp-hidden {
    display: none; }
  .tabs #easyBtn:checked ~ #full {
    display: none; }
  .tabs #fullBtn:checked ~ #easy {
    display: none; }
  .tabs #easyBtn:checked ~ .tabs__toggle label[for="easyBtn"] {
    font-weight: bold;
    opacity: 1; }
    @media (min-width: 768px) {
      .tabs #easyBtn:checked ~ .tabs__toggle label[for="easyBtn"] {
        background-color: #3581d5;
        border-color: #3581d5;
        font-weight: normal;
        color: #fff; }
        .tabs #easyBtn:checked ~ .tabs__toggle label[for="easyBtn"]::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          bottom: -33px;
          left: 42%;
          border: 20px solid transparent;
          border-bottom: 20px solid #eeeeee; } }
  .tabs #fullBtn:checked ~ .tabs__toggle label[for="fullBtn"] {
    font-weight: bold;
    opacity: 1; }
    @media (min-width: 768px) {
      .tabs #fullBtn:checked ~ .tabs__toggle label[for="fullBtn"] {
        background-color: #3581d5;
        border: 2px solid #3581d5;
        font-weight: normal;
        color: #fff; }
        .tabs #fullBtn:checked ~ .tabs__toggle label[for="fullBtn"]::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          bottom: -33px;
          left: 42%;
          border: 20px solid transparent;
          border-bottom: 20px solid #eeeeee; } }

.product {
  width: 100%;
  background-color: #e1fffa;
  position: relative; }
  @media (min-width: 1140px) {
    .product {
      padding-bottom: 50px; } }
  .product .product__title {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    width: 100%; }
    @media (min-width: 768px) {
      .product .product__title {
        width: 60%;
        margin-left: auto;
        text-align: left; } }
  .product .product__text {
    font-family: "Open Sans Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #242927;
    width: 100%; }
    @media (min-width: 768px) {
      .product .product__text {
        width: 60%;
        margin-left: auto; } }
  .product .product__features-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%; }
    @media (min-width: 768px) {
      .product .product__features-list {
        width: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-left: auto; } }
  .product .product__link {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Open Sans Regular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #1962b2; }
    @media (min-width: 768px) {
      .product .product__link--order3 {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        margin-left: 10%; }
      .product .product__link--order4 {
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
        margin-right: 10%; } }
    .product .product__link--active {
      text-decoration: underline; }
    .product .product__link:hover {
      text-decoration: underline; }
  .product .product__features-item {
    font-family: "Open Sans Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative; }
    .product .product__features-item--create::before {
      content: "";
      position: absolute;
      width: 33px;
      height: 33px;
      left: 0;
      top: 10px;
      background-image: url("../img/create.png");
      background-repeat: no-repeat;
      background-position: center; }
    .product .product__features-item--join::before {
      content: "";
      position: absolute;
      width: 33px;
      height: 33px;
      left: 0;
      top: 15px;
      background-image: url("../img/join.png");
      background-repeat: no-repeat; }
    .product .product__features-item--add::before {
      content: "";
      position: absolute;
      width: 33px;
      height: 33px;
      left: 4px;
      top: 6px;
      background-image: url("../img/title.png");
      background-repeat: no-repeat; }
    .product .product__features-item--adjust::before {
      content: "";
      position: absolute;
      width: 33px;
      height: 33px;
      left: 0;
      top: 13px;
      background-image: url("../img/quality.png");
      background-repeat: no-repeat; }
  .product .product__btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 768px) {
      .product .product__btn-block {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (min-width: 1140px) {
      .product .product__btn-block {
        width: 50%;
        margin-right: 93px;
        float: right;
        margin-top: -100px;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  @media (min-width: 768px) {
    .product .product__btn-item--order1 {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .product .product__btn-item--order2 {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; } }
  .product .product__img {
    width: 170px;
    height: 100%;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .product .product__img {
        float: left; } }
    @media (min-width: 1140px) {
      .product .product__img {
        width: 293px; } }
  .product .product__item {
    margin-bottom: 20px; }
    @media (min-width: 1140px) {
      .product .product__item {
        width: 80%;
        margin: 0 auto; } }

.guides {
  width: 100%; }
  .guides .guides__title {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 28px;
    line-height: 38px;
    text-align: center; }
  .guides .guides__btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 768px) {
      .guides .guides__btn-block {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .guides .guides__btn {
    font-family: "Open Sans Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px dashed #bdbdbd; }
    .guides .guides__btn--active {
      background-color: #b4d1f2;
      border: none;
      padding: 27px; }
    .guides .guides__btn:hover {
      background-color: #b4d1f2;
      border: none;
      padding: 27px; }
    .guides .guides__btn:active {
      opacity: 0.7; }
    @media (min-width: 768px) {
      .guides .guides__btn {
        width: 48%; } }

.support {
  width: 100%;
  padding: 30px 0; }
  @media (min-width: 768px) {
    .support {
      padding: 60px 0; } }
  .support .support__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e3f0ff;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .support .support__btn:hover {
      opacity: 0.7; }
    .support .support__btn:active {
      opacity: 0.5; }
    @media (min-width: 768px) {
      .support .support__btn {
        width: 48%; } }
  .support .support__btn-inner {
    font-family: "Open Sans Regular", "Arial", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #3581d5;
    margin-left: 20px; }
    @media (min-width: 1140px) {
      .support .support__btn-inner {
        font-size: 24px;
        line-height: 34px;
        text-align: left;
        width: 45%; } }
  .support .support__btn-img {
    width: 100px; }
    @media (min-width: 1140px) {
      .support .support__btn-img {
        width: 140px; } }
  @media (min-width: 768px) {
    .support .support__btn-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (min-width: 1140px) {
    .support .support__btn-block {
      width: 80%;
      margin: 0 auto; } }
