@font-face {
  font-family: "Open Sans bold";
  src: url("../fonts/OpenSansBold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSansRegular.woff") format("woff");
}
