@mixin textbold($font-size, $line-height) {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin textregular($font-size, $line-height) {
  font-family: "Open Sans Regular", "Arial", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}
