.btn {

  .btn__download {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #3581d5;
    margin-bottom: 10px;
    text-decoration: none;
    @include textregular(20px, 20px);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &--mac {
      background-color: #1962b2;
    }

    @media (min-width: $tablet-width) {
      width: 48%;
    }
  }

  .btn__download-logo {
    width: 40px;
    height: 40px;


    &--win {
      background: url("../img/windows_logo.png") no-repeat center;
    }

    &--mac {
      background: url("../img/mac_logo_grey.png") no-repeat center;
    }
  }

  .btn__download-mob {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  .btn__download-desk {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }


  }



}
