.product {
  width: 100%;
  background-color: #e1fffa;
  position: relative;

  @media (min-width: $desktop-width) {
  padding-bottom: 50px;
  }

  .product__title {
    @include textbold(28px, 38px);
    text-align: center;
    width: 100%;

    @media (min-width: $tablet-width) {
      width: 60%;
      margin-left: auto;
      text-align: left;
    }
  }

  .product__text {
    @include textregular(16px, 22px);
    color: #242927;
    width: 100%;

    @media (min-width: $tablet-width) {
      width: 60%;
      margin-left: auto;
    }

  }

  .product__features-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    @media (min-width: $tablet-width) {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin-left: auto;
    }


  }

  .product__link {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    @include textregular(14px, 16px);
    color: #1962b2;

    @media (min-width: $tablet-width) {
      &--order3 {
        order: 3;
        margin-left: 10%;
      }
      &--order4 {
        order: 4;
        margin-right: 10%
      }
    }

    &--active {
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .product__features-item {
    @include textregular(16px, 20px);
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;

    &--create {
      &::before {
        content: "";
        position: absolute;
        width: 33px;
        height: 33px;
        left: 0;
        top: 10px;
        background-image: url("../img/create.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--join {
      &::before {
        content: "";
        position: absolute;
        width: 33px;
        height: 33px;
        left: 0;
        top: 15px;
        background-image: url("../img/join.png");
        background-repeat: no-repeat;
      }
    }

    &--add {
      &::before {
        content: "";
        position: absolute;
        width: 33px;
        height: 33px;
        left: 4px;
        top: 6px;
        background-image: url("../img/title.png");
        background-repeat: no-repeat;
      }
    }

    &--adjust {
      &::before {
        content: "";
        position: absolute;
        width: 33px;
        height: 33px;
        left: 0;
        top: 13px;
        background-image: url("../img/quality.png");
        background-repeat: no-repeat;
      }
    }
  }

  .product__btn-block {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      width: 50%;
      margin-right: 93px;
      float: right;
      margin-top: -100px;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  .product__btn-item {
    @media (min-width: $tablet-width) {
      &--order1 {
        order: 1;
      }
      &--order2 {
        order: 2;
      }
    }
  }

  .product__img {
    width: 170px;
    height: 100%;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      float: left;
    }

    @media (min-width: $desktop-width) {
      width: 293px;
      // float: none;
    }
  }

  .product__item {
    margin-bottom: 20px;

      @media (min-width: $desktop-width) {
        width: 80%;
        margin: 0 auto;
    }
  }
}
