.tabs {
  background-color: #eeeeee;
  position: relative;
  // padding-bottom: 30px;


  .tabs__toggle {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 0 -16px;

    @media (min-width: $tablet-width) {
      width: 580px;
      /* margin: 0; */
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: -90px;
      border-radius: 5px;
      padding-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      width: 750px;
    }
  }

  .tabs__label {
    @include textregular(16px, 16px);
    text-align: center;
    padding: 20px;
    width: 49%;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0.5;

    &:hover {
      font-weight: bold;
    }


    @media (min-width: $tablet-width) {
      background-color: #fff;
      border-radius: 0;
      width: 50%;
      opacity: 1;
      border: 2px solid #1962b2;
      position: relative;
    }

  }

  .tabs__inp-hidden {
    display: none;
  }

  #easyBtn:checked ~ #full {
    display: none;
  }

  #fullBtn:checked ~ #easy {
    display: none;
  }

  #easyBtn:checked ~ .tabs__toggle label[for="easyBtn"] {
    font-weight: bold;
    opacity: 1;

    @media (min-width: $tablet-width) {
      background-color: #3581d5;
      border-color: #3581d5;
      font-weight: normal;
      color: #fff;

      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: -33px;
        left: 42%;
        border: 20px solid transparent;
        border-bottom: 20px solid #eeeeee;
      }
    }
  }

  #fullBtn:checked ~ .tabs__toggle label[for="fullBtn"] {
    font-weight: bold;
    opacity: 1;

    @media (min-width: $tablet-width) {
      background-color: #3581d5;
      border: 2px solid #3581d5;
      font-weight: normal;
      color: #fff;

      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: -33px;
        left: 42%;
        border: 20px solid transparent;
        border-bottom: 20px solid #eeeeee;
      }
    }
  }
}
